name: spras
channels:
  - conda-forge
dependencies:
  - adjusttext=1.3.0
  - bioconda::snakemake-minimal=9.6.2
  # Conda refers to pypi/docker as docker-py.
  - docker-py=7.1.0
  - matplotlib=3.10.3
  - networkx=3.5
  - pandas=2.3.0
  - pydantic=2.11.7
  - numpy=2.3.1
  - requests=2.32.4
  - scikit-learn=1.7.0
  - seaborn=0.13.2
  - spython=0.3.14
  - pytimeparse=1.1.8

  # conda-specific for dsub
  - python-dateutil=2.9.0
  - pytz=2025.2
  - pyyaml=6.0.2
  - tenacity=9.1.2
  - tabulate=0.9.0

  # toolchain deps
  - pip=25.3
  # This should be the same as requires-python minus the >=.
  - python=3.11

  # development dependencies
  - pre-commit=4.2.0
  - pytest=8.4.1
  - pytest-split=0.10.0

  - pip:
      - dsub==0.4.13
