name: Test Docker wrappers

on: [push, pull_request]

jobs:
  # Builds the Docker images and runs their test code
  docker:
    name: Test Docker wrappers
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      # Pull from Docker Hub to use the cache
      # https://medium.com/mobileforgood/coding-tips-patterns-for-continuous-integration-with-docker-on-travis-ci-9cedb8348a62
      # https://github.com/docker/build-push-action/issues/7
    - name: Install Singularity
      uses: eWaterCycle/setup-singularity@v6
      with:
        singularity-version: 3.7.1
    - name: Pull Docker images
      run: |
        docker pull reedcompbio/omics-integrator-1:latest
        docker pull reedcompbio/omics-integrator-2:latest
        docker pull reedcompbio/pathlinker:latest
        docker pull reedcompbio/meo:latest
    - name: Build Omics Integrator 1 Docker image
      uses: docker/build-push-action@v1
      with:
        path: docker-wrappers/OmicsIntegrator1/.
        dockerfile: docker-wrappers/OmicsIntegrator1/Dockerfile
        repository: reedcompbio/omics-integrator-1
        tags: latest
        cache_froms: reedcompbio/omics-integrator-1:latest
        push: false
    - name: Build Omics Integrator 2 Docker image
      uses: docker/build-push-action@v1
      with:
        path: docker-wrappers/OmicsIntegrator2/.
        dockerfile: docker-wrappers/OmicsIntegrator2/Dockerfile
        repository: reedcompbio/omics-integrator-2
        tags: latest
        cache_froms: reedcompbio/omics-integrator-2:latest
        push: false
    - name: Build PathLinker Docker image
      uses: docker/build-push-action@v1
      with:
        path: docker-wrappers/PathLinker/.
        dockerfile: docker-wrappers/PathLinker/Dockerfile
        repository: reedcompbio/pathlinker
        tags: latest
        cache_froms: reedcompbio/pathlinker:latest
        push: false
    - name: Build Maximum Edge Orientation Docker image
      uses: docker/build-push-action@v1
      with:
        path: docker-wrappers/MEO/.
        dockerfile: docker-wrappers/MEO/Dockerfile
        repository: reedcompbio/meo
        tags: latest
        cache_froms: reedcompbio/meo:latest
        push: false
    - name: Install conda environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: spras
        environment-file: environment.yml
        auto-activate-base: false
        miniconda-version: 'latest'
    - name: Run tests
      shell: bash --login {0}
      run: pytest
    - name: Run Snakemake workflow
      shell: bash --login {0}
      run: snakemake --cores 1 --configfile config/config.yaml
